.inputDiv{
    display: flex;
    flex-direction: column;
}
label{
    margin-left: 0px;
    padding-bottom: 5px;
    margin-top: 10px;
}
span{
    color:red;
    margin-left: 0px;
}
input{
    margin-bottom: 0px;
}