.buttons{
    display: flex;
    width: 500px;
    margin: 30px 50px;
    flex-direction: row;
}
#return{
    width: 100px;
    margin-right: 15px;
}
#edit{
    width: 100px;
    margin-right: 15px;
    background-color: rgba(128, 128, 128, 0.268)
}
.infoContainer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.imgDetail{
    width: 50%;
}
.imageDiv{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dataContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
}

